%h2 業者作成画面
= form_with(model: [:admins, @seller]) do |f|
  %p
    = f.label :name
    = f.text_field :name, autofocus: true
  %p
    = f.label :email
    = f.email_field :email
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  = f.submit
