%h2= @product.name
%h2= image_tag @product.image.url if @product.image.present?
%p= currency(@product.price)
%p 在庫数: #{@product.stock}
= link_to 'カートに追加', new_users_product_cart_product_path(@product)
