%h2 カートアイテム一覧
- @cart_products.each do |cart_product|
  %p
    商品: #{cart_product.product.name} 注文数: #{cart_product.amount}
    = link_to '詳細', users_product_path(cart_product.product)
    = link_to 'カートから外す', users_cart_product_path(cart_product), method: :delete, data: { confirm: 'カートから外してもよろしいですか？' }
= paginate @cart_products
