%h2 注文一覧
- @orders.each do |order|
  = l order.delivery_date
  - order.ordered_products.each do |ordered_product|
    %p
      #{ordered_product.product.name} 計#{ordered_product.amount}
      = link_to '詳細', users_product_path(ordered_product.product)
= paginate @orders
