%h2 商品購入画面
= detail_of_order_total_price(@cart_products)
%p 配達日時を選択してください
%p ※3営業日（営業日: 月-金）から14営業日までの間でご指定お願いします
= form_with(model: [:users, @order]) do |f|
  - @cart_products.each do |cart_product|
    = hidden_field_tag 'order[cart_product_ids][]', cart_product.id
  %p
    = f.date_field :delivery_date, min: Order.min_delivery_date, max: Order.max_delivery_date
    = f.select :delivery_time_id, delivery_times_option
  %p --ポイントを利用する場合--
  %p ※入力したポイント分が合計金額から引かれます(1ポイント = 1円)
  %p ポイント残数: #{current_user.available_coupon_point}
  %p= f.number_field :coupon_point, min: 0, max: current_user.available_coupon_point, value: 0, required: true
  = f.submit '注文する'
