%h2 #{current_seller.name}の商品一覧
- @products.each do |product|
  %p
    = product.name
    = link_to '詳細', sellers_product_path(product)
= link_to '新しく登録する', new_sellers_product_path
= paginate @products
