!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SakuraMarket2
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if !admin_signed_in? && !seller_signed_in? && !user_signed_in?
      = link_to 'ログイン(管理者)', new_admin_session_path
      = link_to 'ログイン(業者)', new_seller_session_path
      = link_to 'ログイン(ユーザー)', new_user_session_path

    - if admin_signed_in?
      = link_to 'ユーザー一覧', admins_users_path
      = link_to '業者一覧', admins_sellers_path
      = link_to '商品一覧', admins_products_path
      = link_to 'クーポン一覧', admins_coupons_path
      = link_to 'ログアウト', destroy_admin_session_path, method: :delete

    - if user_signed_in?
      = link_to '商品一覧', users_products_path
      = link_to '注文履歴', users_orders_path
      = link_to 'カート', users_cart_products_path
      = link_to 'みんなの日記', diaries_path
      = link_to 'じぶん日記', users_diaries_path
      = link_to 'ログアウト', destroy_user_session_path, method: :delete

    %p= notice
    %p= alert

    = yield
